body {
    font-style: italic;
    font-size: 24px;
    font-family: Tahoma;
    font-weight: 500;
    font-variant: small-caps;


}

/* We may give all font properties in one line */ 

p {
    font: italic small-caps 500 24px Arial;
}