body {
    color: blue;
}

h1 {
    background-color: lightsalmon;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

h2 {
    background-color: bisque;
    padding: 30px;
}