body {
    /* This color is inherited by all body elements  */
    color: blue;
}

h1,
h2 {
    font-family: verdana;
    color: antiquewhite;
    background-color: darkcyan;
}

h2 {
    color: lightcoral
}


p {
    /* Overriding the body color */
    color:  red;  
    font-family: Tahoma;
    font-size: 25px;
}