h1,
h2 {
    font-family: verdana;
    color: antiquewhite;
    background-color: darkcyan;
}

h2 {
    color: lightcoral
}

p {
    color: darkolivegreen;
    font-family: Tahoma;
    font-size: 25px;
}